* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  transition: 0.2s ease all;
}

.a1,
.a2,
.a3,
.a4,
.a5,
.a6,
.a7 {
  color: white;
  border: 1px solid transparent;
  padding: 0.5rem;
}

.conatainer {
  height: 100%;
  width: 100%;
}

.logo {
  font-size: 1.8rem;
  color: white;
}

.header {
  background-color: #000000;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.h1,
.h2 {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.h2 > a > img {
  height: 30px;
  width: 30px;
}

.a7:hover {
  background-color: #333;
  color: #fff;
  border-radius: 1.5rem;
}

.a6:hover {
  background-color: #333;
  color: #fff;
  border-radius: 1.5rem;
}

.a5:hover {
  background-color: #333;
  color: #fff;
  border-radius: 1.5rem;
}

.a4:hover {
  background-color: #333;
  color: #fff;
  border-radius: 1.5rem;
}

.a3:hover {
  background-color: #333;
  color: #fff;
  border-radius: 1.5rem;
}

.a2:hover {
  background-color: #333;
  color: #fff;
  border-radius: 1.5rem;
}

.a1:hover {
  background-color: #333;
  color: #fff;
  border-radius: 1.5rem;
}

.logo:hover {
  border: none;
  background-color: black;
}

.signup {
  padding: 0.4rem;
  font-size: 0.9rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  color: black;
  font-weight: 600;
}

.signup:hover {
  background-color: #333;
  color: #fff;
  border-radius: 1.5rem;
}

.herosection {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.div1 {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div1 > h2,
p {
  color: white;
}

.div1 > h2 {
  font-size: 3rem;
  font-weight: 600;
}

.div1,
.div2 {
  margin-top: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.5rem;
}

.div1 > .content > p,
input,
button {
  margin-left: 0px;
}

.content > input {
  height: 40px;
  width: 400px;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
}

button {
  height: 50px;
  width: 100px;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.content > p {
  font-size: 1.2rem;
}

.suggestion {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 1rem;
}

.suggestions {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.suggestion1 {
  display: flex;
  flex-direction: row;
  background-color: #afafaf;
  padding: 1rem;
  border-radius: 1rem;
}

.sl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sl > h4 {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

.sl > p {
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
}

.sl > button {
  border-radius: 1rem;
  border: none;
}

.sl > button:hover {
  background-color: #333;
  color: #fff;
  border-radius: 1rem;
}

.reserve_clock {
  height: 200px;
  width: 200px;
}

.banner1,
.banner2 {
  display: flex;
  flex-direction: row;
  padding: 6rem;
  gap: 6rem;
}

.br {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: left;
}

.br > h1 {
  font-size: 3rem;
  font-weight: 600;
}

.br > p {
  color: black;
}

.br > button {
  background-color: black;
  color: white;
}

.br > button:hover {
  background-color: #333;
  border: none;
}

.br > a {
  color: black;
}

.bl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: left;
}

.bl > h1 {
  font-size: 3rem;
  font-weight: 600;
  color: rgb(96, 94, 94);
}

.bl > p {
  color: black;
}

.bl > button {
  background-color: black;
  color: white;
}

.bl > button:hover {
  background-color: #333;
  border: none;
}

.bl > a {
  color: black;
}

.content > button:hover {
  background-color: #8f8a8a;
}

.qr {
  padding: 4rem;
  background-color: #ccc7c7;
}

.qr1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.qrr > a > h2 {
  color: black;
}

.qrr > a > p {
  color: black;
}

.qrs {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.footer {
  background-color: black;
  padding: 6rem;
  display: flex;
  flex-direction: column;
}

.f1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Help {
  color: white;
  font-size: 1.2rem;
}

.f21 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.f21 > a {
  color: white;
  font-size: 0.9rem;
}

.f21 > a:hover {
  color: #afafaf;
}

.f2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}

.f21 > h4 {
  color: white;
  font-size: 1.2rem;
}

.f3 {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.f3l > a > img {
  height: 30px;
  width: 30px;
  color: white;
  border: 1px solid transparent;
  padding: 0.2rem;
}

.f3l {
  display: flex;
  gap: 3rem;
}

.f3l > a > img:hover {
  background-color: #333;
  color: #fff;
  border-radius: 0.5rem;
}

.f3r > a:hover {
  background-color: #333;
  color: #fff;
  border-radius: 0.2rem;
}

.f3r > a > img {
  height: 20px;
  width: 20px;
}

.f4 {
  display: flex;
  gap: 1rem;
  margin-top: 40px;
}

.f4 > a > img {
  height: 60px;
  width: 120px;
}

.f5 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.f5r {
  display: flex;
  gap: 1rem;
}

.f5r > a {
  color: white;
}

.f5r > a:hover {
  color: #8f8a8a;
}

.f5l > p {
  font-size: 0.8rem;
}

.f5r > a {
  font-size: 0.8rem;
}
